In [1]:
import Access_Keys

In [2]:
URL = 'http://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_d.csv'

In [3]:
from urllib.request import urlretrieve
urlretrieve(URL, 'Binance_BTCUSDT_d.csv')

('Binance_BTCUSDT_d.csv', <http.client.HTTPMessage at 0x175463e7f88>)

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('Binance_BTCUSDT_d.csv',skiprows=1,parse_dates=False,usecols=['date','open','close','high','low'])
data.head()

                  date      open      high       low     close
0  2021-05-01 00:00:00  57697.25  57731.22  57421.05  57731.21
1  2021-04-30 00:00:00  53555.00  57963.00  53013.01  57694.27
2  2021-04-29 00:00:00  54846.23  55195.84  52330.94  53555.00
3  2021-04-28 00:00:00  55011.97  56428.00  53813.16  54846.22
4  2021-04-27 00:00:00  54001.38  55460.00  53222.00  55011.97

In [6]:
data.tail()

            date     open     high      low    close
1350  2017-08-21  4086.29  4119.62  3911.79  4016.00
1351  2017-08-20  4139.98  4211.08  4032.62  4086.29
1352  2017-08-19  4108.37  4184.69  3850.00  4139.98
1353  2017-08-18  4285.08  4371.52  3938.77  4108.37
1354  2017-08-17  4469.93  4485.39  4200.74  4285.08

In [7]:
# len() = 19 for yyyy-mm-dd 00:00:00 format
# len() = 10 for yyyy-mm-dd
# add 00:00:00 to these to make it uniform

replacement_indices = []
for i in range(len(data['date'])):
    if len(data['date'][i]) != 19:
        if len(data['date'][i]) == 10:
            replacement_indices.append(i)
        else:
            print(i) # Any unexpected lengths

In [8]:
# iloc uses integer indices only, so I use the index of 'date' coulmn, which is 0
data.iloc[replacement_indices, 0] = data.iloc[replacement_indices, 0] + ' 00:00:00'

In [9]:
data.tail()

                     date     open     high      low    close
1350  2017-08-21 00:00:00  4086.29  4119.62  3911.79  4016.00
1351  2017-08-20 00:00:00  4139.98  4211.08  4032.62  4086.29
1352  2017-08-19 00:00:00  4108.37  4184.69  3850.00  4139.98
1353  2017-08-18 00:00:00  4285.08  4371.52  3938.77  4108.37
1354  2017-08-17 00:00:00  4469.93  4485.39  4200.74  4285.08

In [10]:
data['date'][1244]

'2017-12-05 00:00:00'

In [ ]:
#convert date to unix time to compare with openblender data
data['timestamp'] = OpenBlender.dateToUnix(data['date'], 
                                           date_format = '%Y-%m-%d %H:%M:%S', 
                                           timezone = 'GMT')

In [ ]:
data.dtypes

In [ ]:
data.plot(x='timestamp',y='low')

%pip install OpenBlender --upgrade

In [11]:
# The following code is from https://towardsdatascience.com/what-moves-bitcoin-c06f7b46d2e4
# with my user tokens

import OpenBlender

In [12]:
import json

In [13]:
OpenBlender_api_token = Access_Keys.OpenBlender_api_token;

List of sources used (Both Headline and title were used):

Daily news headlines of NDTV Technology

Daily news headlines of Mirror Technology

Daily news headlines of Daily Telegraph Technology

Daily news headlines of ABC News  International Technology

Daily news headlines of Standard Technology

Fox News Technology News daily headlines

In [14]:
# THe full list seems to be taking too long to process on the server side so a small dataset
# with only NDTV Technology news was used. Both title and Headline
Bitcoin_NDTV_1_ID = '608d77f19516291c661edd81'

In [15]:
action = 'API_getDataWithVectorizer'
parameters = {
        'token': OpenBlender_api_token,
        'id_textVectorizer':Bitcoin_NDTV_1_ID,
        'aggregate_in_time_interval': {'time_interval_size': 86400},
        'omit_vectorizer': 0,
        'add_date': 'date'
      }
response = OpenBlender.call(action, parameters)

Task ID: '608d7b6b0895fafb4a9d8d4d'.
Total estimated consumption: 859.77 processing units.
Task confirmed. Starting download..
1.75 %
3.51 %
5.26 %
7.02 %
8.77 %
10.53 %
12.28 %
14.04 %
15.79 %
17.54 %
19.3 %
21.05 %
22.81 %
24.56 %
26.32 %
28.07 %
29.82 %
31.58 %
33.33 %
35.09 %
------------------------------------------------
--Internal error. Please upgrade OpenBlender verison via Pip.--
-----
Warning: Some observations could not be processed.
38.6 %
40.35 %
42.11 %
43.86 %
45.61 %
47.37 %
------------------------------------------------
--Internal error. Please upgrade OpenBlender verison via Pip.--
-----
Warning: Some observations could not be processed.
50.88 %
52.63 %
54.39 %
56.14 %
57.89 %
59.65 %
61.4 %
63.16 %
64.91 %
66.67 %
68.42 %
70.18 %
71.93 %
73.68 %
75.44 %
77.19 %
78.95 %
80.7 %
------------------------------------------------
--Internal error. Please upgrade OpenBlender verison via Pip.--
-----
Warning: Some observations could not be processed.
84.21 %
85.96 %
87.72 %
89.47 %
91.23 %
92.98 %
94.74 %
96.49 %
98.25 %
100.0 % completed.

In [16]:
df = pd.read_json(json.dumps(response['sample'])
                  ,convert_dates=True,
                  convert_axes=False)
df.sort_values('timestamp', ascending=False)
df.head()

,amazon india,dual rear,congress mwc 2020,dynamic,triple rear,design details,ces 2020,micom check,sleep,asian,...,updates bring,compete,4k,latest version,4g,tcl,augmented,expands,marvel cinematic universe,compromised
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,2,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [24]:
# Save this to file so don't need to download each time
df.to_csv('Bitcoin_NDTV_1.csv')

In [25]:
# To read from saved file
test = pd.read_csv('Bitcoin_NDTV_1.csv',index_col=0)
test.head()

,amazon india,dual rear,congress mwc 2020,dynamic,triple rear,design details,ces 2020,micom check,sleep,asian,...,updates bring,compete,4k,latest version,4g,tcl,augmented,expands,marvel cinematic universe,compromised
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,2,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

import getpass

In [ ]:
# Now, let's search on OpenBlender
search_keyword = 'technology'
df = df.sort_values('timestamp').reset_index(drop = True)
print('From : ' + OpenBlender.unixToDate(min(data.timestamp)))
print('Until: ' + OpenBlender.unixToDate(max(data.timestamp)))
# Pass timestamp column and search keywords as parameters
OpenBlender.searchTimeBlends(OpenBlender_api_token, data.timestamp, search_keyword)

In [ ]:
id_list = ['5d5ab15c9516296e5749de7a',# Buissness insider Technology news
           ]

In [ ]:
action = 'API_getObservationsFromDataset'

parameters = {
        'token':OpenBlender_api_token,
        'id_dataset': '5d5ab15c9516296e5749de7a',
        # 'date_filter': {'start_date': '2020-08-17','end_date': '2020-08-20'},
        'drop_features': ['url','publisher']
      }

In [ ]:
response = OpenBlender.call(action, parameters)

In [ ]:
df = pd.read_json(json.dumps(response['sample'])
                  ,convert_dates=True,
                  convert_axes=False)
df.sort_values('timestamp', ascending=False)
df.head()

In [ ]:
df.shape

In [ ]:
df[df['title'].str.contains("bitcoin|Bitcoin")].shape

action = 'API_createTextVectorizer'
 # Buissness insider id: 60195cdc951629710cbdba95f8RXtKeDpukuavetT1zyFlCtr86NKI
vectorizer_parameters = {
    'token' : OpenBlender_api_token,
    'name' : 'News Headlines',
    'anchor':{'id_dataset' : '5d5ab15c9516296e5749de7a', 'include_features' : ['title']},
    'ngram_range' : {'min' : 1, 'max' : 2},
    'language' : 'en',
    'remove_stop_words' : 'on',
    'min_count_limit' : 2
}

parameters = { 
   'token': OpenBlender_api_token ,
   'id_dataset':'5d5ab15c9516296e5749de7a',
   'target_threshold' : {'feature':'change','success_thr_over':0},
   'lag_target_feature' : {'feature':'change_over_0', 'periods':1},
   'blends':[{'id_blend':'5de020789516293a833f5818',
               'blend_type' : 'text_ts',
               'restriction' : 'predictive',
               'blend_class' : 'closest_observation', 
               'specifications':{'time_interval_size' : 3600*12 }}],
   'date_filter':{'start_date':'2017-08-20T16:59:35.825Z',
                   'end_date':'2021-02-2T17:59:35.825Z'},
   'drop_non_numeric' : 1
}

def pullObservationsToDF(parameters):
    action = 'API_getObservationsFromDataset'
    df = pd.read_json(json.dumps(OpenBlender.call(action,parameters)['sample'])
                    ,convert_dates=False,convert_axes=False).sort_values('timestamp', ascending=False)
    df.reset_index(drop=True, inplace=True)
    return df
df = pullObservationsToDF(parameters)